
<app-menu-title></app-menu-title>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card
        Id="1"
            photoCover="https://th.bing.com/th/id/R.40b165efd1d8f1e7509db7925233a3bf?rik=WCk%2f%2fNpOH0%2b6KQ&pid=ImgRaw&r=0"
            cardTitle="COWBOY BEBOP"
            cardDescription="'Cowboy' Bebop é uma série de anime que segue as aventuras de um grupo de caçadores de recompensas no espaço sideral."
        ></app-big-card>

        <app-big-card
        Id="1"
            photoCover="https://comicvine.gamespot.com/a/uploads/scale_medium/0/1808/130521-59160-swordfish-ii.jpg"
            cardTitle="Swordfish II"
            cardDescription=" A Swordfish II é uma nave de combate altamente manobrável, equipada com armas poderosas, como mísseis e canhões laser, além de ser capaz de se camuflar com um dispositivo de invisibilidade."
        ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            Id="2"
            photoCover="https://th.bing.com/th/id/OIP.8gQvnzjC9CFKI51JvKNAuAHaFd?pid=ImgDet&rs=1"
            cardTitle="Spike Spiegel"
            cardDescription="Um caçador de recompensas descolado, habilidoso em artes marciais e pilotagem."
        ></app-small-card>
        <app-small-card
            Id="3"
            photoCover="https://th.bing.com/th/id/R.9ba6c7ec9b87a5d4bdbceb011bddaa43?rik=xEsEpXBtyt9dqQ&pid=ImgRaw&r=0"
            cardTitle="Jet Black"
            cardDescription="Um ex-policial e caçador de recompensas que é o parceiro de Spike."
        ></app-small-card>
        <app-small-card
            Id="4"
            photoCover="https://i.pinimg.com/originals/6b/28/a8/6b28a81a5e868ea8f74fe9b5ce8437d9.jpg"
            cardTitle="Faye Valentine"
            cardDescription="Esperta e aventureira que se une à equipe de Spike e Jet."
        ></app-small-card>
        <app-small-card
        Id="4"
        photoCover="https://i.imgur.com/rQsNAKb.png"
        cardTitle="Edward"
        cardDescription="Hacker prodígio e excêntrica que se junta ao grupo."
    ></app-small-card>
    </div>
</div>

<h1>MAIS</h1>
<hr>

<div class="container__articles">
    <div class="articles__main">
        <app-big-card
        Id="5"
            photoCover="https://opuszine.us/_assets/stills/cowboy-bebop-movie.jpg"
            cardTitle="VINCENT VS SPIKE"
            cardDescription="O confronto entre eles é intenso e emocional, com uma batalha entre dois mestres das artes marciais que é considerada uma das melhores sequências de ação do anime."
        ></app-big-card>
    </div>
    <div class="articles__others">
        <app-small-card
            Id="6"
            photoCover="https://th.bing.com/th/id/R.cb5f806bd0fc026d51d84a8411295316?rik=6P0cTq1aiPCgyQ&pid=ImgRaw&r=0"
            cardTitle="VICIOUS"
            cardDescription="Vicious é o principal antagonista de Cowboy Bebop e o ex-parceiro de Spike. Ele é um assassino sádico e implacável que trabalha como membro da organização criminosa chamada Syndicate."
        ></app-small-card>
        <app-small-card
        Id="7"
        photoCover="https://dotandline.net/wp-content/uploads/2018/04/1_HMQOq1Qv7xCmwLKaxYhywg.jpeg"
        cardTitle="JULIA"
        cardDescription="Ela é retratada como uma figura misteriosa e sedutora, que é o interesse amoroso de Spike e também tem uma conexão com o Syndicate, a organização criminosa que Vicious faz parte."
    ></app-small-card>
    </div>
</div>